body {
	  font-family: "Arial", sans;
}

#sliders {
	display: block;
	vertical-align: middle;
}

.sliderBlock {
	width:80%;
	padding: 5px;
	margin: 5px;
}

label {
	font-weight: bold;
	font-size: 100%;
	width: 20%;
	padding: 5px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.slider {
	width:60%;
	margin:15px;
	display: inline-block;
	vertical-align: middle;
    background-color: #FFC;
	border: 2px solid #000;
}

.value {
	font-family: "Courier", mono;
	width: 10%;
	padding: 5px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

#pitchBlock, #larynxBlock {
  background-color: #ECE;
  border: 2px solid #A6A;
}

#f1Block, #f2Block {
  background-color: #CEE;
  border: 2px solid #6AA;
}

#f3_fBlock, #f3_qBlock {
  background-color: #CEC;
  border: 2px solid #6A6;
}

